*{
padding: 0px;
box-sizing: border-box;
margin: 0;

}

.main{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 50px;
}

img{
    width: 100%;
}
.item{
    
}

